# Test artifacts
coverage.out
.github/coverage.out
*.coverprofile
.github/*.coverprofile
profile.out
.github/profile.out

# Go tool caches
*.log
**/.cache/

# IDE / editor files
.idea/
.vscode/
*.swp
.DS_Store
